################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TournamentBracketGenerator/.vs/TournamentBracketGenerator
/TournamentBracketGenerator/obj
/TournamentBracketGenerator.Application/obj
/TournamentBracketGenerator.Application/bin/Debug/net6.0
